<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-book fa-8x"></i>
    <h1 class="display-3">Hello, Welcome to Daily Dairy</h1>
    <p class="secret-text">Mr.<%= yourName %> </p>
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/blog" role="button">Write Public Blog</a>
    <a class="btn btn-dark btn-lg" href="/personalBlog" role="button">Write Personal Blog</a>
  </div>
</div>

<%- include('partials/footer') %>
